# gradle

.gradle/
build/
out/
prod/

# idea

.idea/
*.iml
*.ipr
*.iws

# fabric

run/
/minecraft/
remappedSrc/

# eclipse

*.launch

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_STORE

# lcc
/assets/
lcc-content/src/main/resources/.cache/
lcc-content/src/generated/
TODO.md

# fabric

run/
